* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MACRO LAYOUT */
body {
    background-image: url(img/bk_img.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: rgb(20, 20, 20);
    z-index: 3;
}

main {
    padding-top: 80px;
    padding-bottom: 60px;
}

/* container */
.container {
    width: 93%;
    height: 100%;
    margin: 0 auto;
}

/* HEADER */
#header-left,
#header-right {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}

#header-right {
    justify-content: flex-end;
}

header .container {
    display: flex;
    justify-content: space-between;
}

input,
button {
    background-color: rgb(20, 20, 20);
    outline: 0;
    border: 2px solid white;
    padding: 10px;
    color: white;
    margin-left: 5px;
    font-size: 15px;
    border-radius: 5px;
}

button#search-button {
    cursor: pointer;
    background-color: red;
}

/* MAIN */
.messaggio_ricerca {
    display: none;
    margin-top: 30px;
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.messaggio_ricerca.active {
    display: block;
}

#film-tv-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    z-index: 0;
}

.titolo-ricerca {
    width: 100%;
    text-align: center;
    margin: 30px 0 15px 0;
}

.titolo-ricerca h2 {
    font-size: 15px;
}

.flip-card {
    height: 360px;
    width: 23%;
    background-color: transparent;
    margin: 0 1% 30px 1%;
    perspective: 1000px;
    cursor: pointer;
}

/* aggiungo dimensioni al 100% perché i contenitori con position absolute si adattano al contenuto */
.flip-card-inner,
.flip-card .card-front,
.flip-card .card-front img,
.card-back {
    width: 100%;
    height: 100%;
}

.flip-card-inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card .card-front {
    position: absolute;
    backface-visibility: hidden;
     -webkit-backface-visibility: hidden; /* Safari */
}

.card-back {
    position: absolute;
    backface-visibility: hidden;
    padding: 10px;
    border: 3px solid red;
    list-style-type: none;
    font-weight: 500;
    background-color: black;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden; /* Safari */
}

.card-back li {
    padding: 6px 0;
    font-size: 15px;
}

li.d_none {
    display: none;
}

.card-back span {
    color: rgba(255,255,255,0.8);
}

.fa-star {
    color: gold;
    font-size: 12px;
}

/* RESPONSIVE */
@media all and (max-width: 992px) {
    .flip-card {
        width: 32.33%;
            margin: 0 0.5% 30px 0.5%;
    }
}

@media all and (max-width: 768px) {
    .flip-card {
        width: 48%;
        margin: 0 1% 30px 1%;
    }
}

@media all and (max-width: 576px) {
    .flip-card {
        width: 80%;
        margin: 15px 10%;
    }

    header {
        height: 150px;
    }

    main {
        padding-top: 150px;
    }

    #header-left,
    #header-right {
        width: 100%;
        justify-content: center;
    }

    header .container {
        flex-direction: column;
    }
}
